<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  
  </head>
  <body>
    <div class="error-card poppins-light">
      <div class="image">
        <img class="img" src="../image/404-error-concept-illustration.png" alt="">
      </div>
      <div>
        <a href="/"><button class="btn-1">Back to Home</button></a>
      </div>
    </div>
    <style>
      :root {
        --primary-color: #333;
        --secondary-color: #f9c23c;
        --background-color: #f5f5f5;
        --text-color: #0097e6;
      }
      .btn-1 {
        background-color: var(--background-color);
        padding: 3px;
        color: var(--text-color);
        border: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 1px 3px 5px #333;
      }
     img {
      max-width: 90vw;
      max-height: 70vh;
     }
     .error-card {
      text-align: center;
     }
    </style>
  </body>
</html>
