<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/weather.css">
    <%- include('common/links')%>
</head>
<body>
    <%- include('common/header')%>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="weather-card">
            <div class="card-body">
              <h2 class="temperature"></h2>
              <i class="weather-icon fas fa-cloud-sun"></i>
              <p class="weather-description"></p>
              <p class="location"></p>
              <p class="location city"></p>
              <div id="location-form" class="mt-4">
                <div class="input-group">
                  <input type="text" id="location-input" class="form-control" placeholder="Enter location...">
                  <button type="submit" class="btn btn-primary" style="margin-left: 5px;">Search</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>