.Btn {
    border-radius: 5px;
}

.icon{
    display: none;
}
.Btn {
    display: none
}
@media (max-width: 900px) {
    .Btn {
        display: block;
        text-align: center;
        padding: 2px 8px;
    }
    .icon{
        font-size: 25px;
        color: white !important;;
        display: block;
    }
}